html {
    padding: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
body {
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 50px;
    margin: 0;
    display: flex;
    font-family: "Open Sans", sans-serif;
    width: 1860px;
    background-image: url(assets/background.png);  
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);

    }
}

@keyframes fade-in-up-down {
    from {
        opacity: 0;
        transform: translateY(-18px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);

    }
}

div.content-list {
    top: 30px;
    margin-top: 50px;
    margin-left: 70px;
    margin-bottom: auto;
    position: sticky;
    height: 690px;
    width: 350px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0, 0.1);
    border-radius: 20px;
    box-shadow: 1.5px 1.5px rgb(0, 0, 0, 0.1);
    display: flex;
    padding: 0;
    padding-right: 15px;
    overflow: scroll;
    margin-right: 45px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    color: rgb(255, 255, 255, 0.6);
    font-weight: 500;
    opacity: 0;
    animation: fade-in 1s ease forwards;
}


div.vertical {
    display: table-column;
}

h3.text1 {
    margin-left: 25px;
    margin-top: 20px;
    height: 25px;
    width: 100%;
    text-align: center;
    font-size: 25px;
    border-bottom: 2px solid rgb(114, 114, 114);
    line-height: 13px;
}

li.content-list-title {
    width: 300px;
    list-style-type: none;
}

li.content-list {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3), -1px -1px 3px rgba(255, 255, 255, 0.25);
    margin-top: 22px;
    margin-left: 15px;
    font-size: 22.5px;
    width: fit-content;
}

li.content-list-sub {
    color: rgb(206, 206, 206);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3), -1px -1px 3px rgba(255, 255, 255, 0.25);
    margin-top: 22px;
    margin-left: 12px;
    font-size: 19.5px;
    width: fit-content;
    list-style-type: none;
}

a.section-link {
    font-size: 27px;
    font-weight: 900;
    margin-left: 10px;
    text-decoration: none;
    color: rgb(180, 98, 31);
    text-shadow: 3px 3px 0.5px rgb(175, 154, 83, 0.7);
}

a.section-link-sub {
    font-size: 22px;
    font-weight: 750;
    margin-left: 5px;
    text-decoration: none;
    color: rgb(240, 192, 130);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}




div.contents {
    width: 850px;
    margin-right: 30px;
    height: auto;
    display: flex;
    padding-left: 42.5px;
}


div.contents-card {
    width: 850px;
    padding-left: 18px;
    padding-right: 10px;
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 10px rgb(0, 0, 0, 0.4);
    padding-top: 25px;
    padding-bottom: 30px;
    margin-bottom: 80px;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    opacity: 0; 
    animation: fade-in 1s ease forwards;
    animation-delay: 0.3s;
}


h1.title1 {
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 45px;
    font-size: 46px;
    width: 500px;
    border-bottom: 2.4px solid rgb(233, 233, 233);
    box-shadow: 0px 1.5px 2px rgb(0, 0, 0, 0.2);
    color: rgb(230, 230, 230);
    text-shadow: 1px 1px 10px black;
}

span.title2 {
    font-size: 37px;
    font-weight: 900;
    margin-bottom: 12.5px;
    color: rgb(180, 98, 31);
    text-shadow: 3px 3px 0.5px rgb(175, 154, 83, 0.7);
    opacity: 0; 
    animation: fade-in 1s ease forwards;
    animation-delay: 0.3s;
}

.dark-green {
    color: rgb(43, 187, 86);
}

p.title3 {
    font-size: 26px;
    font-weight: bolder;
    width: fit-content;
    color: rgb(240, 192, 130);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    opacity: 0; 
    animation: fade-in 1s ease forwards;
    animation-delay: 0.55s;
}

p.main-contents {
    font-size: 23px;
    font-weight: 500;
    width: fit-content;
    color: rgb(21, 63, 39);
    font-family: "Noto Sans TC", sans-serif;
    line-height: 45px;
    opacity: 0; 
    animation: fade-in 1s ease forwards;
    animation-delay: 0.8s;
}

span.highlight {
    font-size: 27px;
    font-weight: 600;
    color: rgb(16, 133, 68);
    text-underline-offset: 5px;
    text-decoration: underline 1.5px;
    
}

li.list2 {
    font-size: 25.5px;
    font-weight: 700;
    width: 800px;
    color: rgb(35, 161, 119);
    opacity: 0; 
    animation: fade-in 1s ease forwards;
    animation-delay: 1s;
    text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.4);
}

li.list2::marker {
    color: rgb(138, 96, 41);
}





div.pics {
    width: 300px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    opacity: 0; 
    animation: fade-in-up-down 1s ease forwards;
    animation-delay: 1.1s;
}

div.pic {
    width: 500px;
    height: fit-content;
    display: flex;
    justify-content: center;
}

img.pic {
    height: 350px; 
    width: 350px; 
    border-radius: 5px; 
    box-shadow: 2.5px 2.5px 18px rgb(0, 0, 0, 0.7);
    margin-left: 50px;
}

div.figs {
    display: flex;
    justify-content: flex-start;
    opacity: 0; 
    animation: fade-in-up-down 1.3s ease forwards;
    animation-delay: 1.2s;
}

img.fig {
    height: 300px;
    width: 300px;
}

h6.small-txt {
    height: 30px;
    font-size: 22px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    width: fit-content;
    background-color: rgb(255, 250, 236);
    margin-top: 30px;
    opacity: 0; 
    animation: fade-in-up-down 1.3s ease forwards;
    animation-delay: 1.4s;
    padding-left: 5px;
    padding-right: 3px;
}




div.button {
    width: 868px;
    height: 90px;
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 10px rgb(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: flex-end;
}

div.buttons {
    display: flex;
    flex-direction: row;
}

div.button2-previous {

    border-radius: 10px;
    box-shadow: 1.5px 1.5px 10px rgb(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(50px);
    display: flex;
    width: 420px;
    height: 90px;
}

div.button2-next {

    border-radius: 10px;
    box-shadow: 1.5px 1.5px 10px rgb(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(50px);
    display: flex;
    width: 420px;
    height: 90px;
    justify-content: flex-end;
}

div.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p.button-previous {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-left: 20px;
}

p.button-next {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-right: 20px;
}



#question-card {
    display: flex;
    padding: 1%;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.interactive {
    width: 810px;
    height: auto;
    background-color: rgba(241, 220, 196);
    border-radius: 15px;
    padding: 2%;
    box-shadow: 0.5px 0.5px 5px rgb(0, 0, 0, 0.3);
}

div.question {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 1.5px 1.5px 8px rgb(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 1%;
    padding-left: 1.5%;
    margin-bottom: 30px;
}

span.q-text {
    display: flex;
    height: fit-content;
    text-align: start;
    width: 810px;
    font-size: 30px;
    font-weight: 400;
    color: rgb(51, 51, 51);
    text-shadow: 1px 1px 3px rgb(0, 0, 0, 0.6);
}

div.answer {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 6px;
}

button.ans1 {
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.5);
    border: 4px;
    border-color: rgb(247, 234, 220);
    border-style: solid;
    border-radius: 10px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


button.ans2 {
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.5);
    border: 4px;
    border-color: rgb(247, 234, 220);
    border-style: solid;
    border-radius: 10px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:enabled {
    color: black;
}

button:disabled {
    color: gray;
}

button.incorr {
    width: 100%;
    background: linear-gradient(to left, white 50%, rgb(230, 95, 77) 50%) right;
    background-position: right;
    background-size: 200%;
    box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.5);
    border: 4px;
    border-color: rgb(247, 234, 220);
    border-style: solid;
    border-radius: 10px;
    font-size: 25px;
    animation: incorr 1.5s ease forwards;
    align-items: center;
}

button.corr {
    width: 100%;
    background: linear-gradient(to left, white 50%, rgb(118, 207, 83) 50%) right;
    background-position: right;
    background-size: 200%;
    box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.5);
    border: 4px;
    border-color: rgb(247, 234, 220);
    border-style: solid;
    border-radius: 10px;
    font-size: 25px;
    animation: incorr 1.5s ease forwards;
    align-items: center;
}

span.symbols {
    font-size: 40px;
    margin-right: 10px;
    opacity: 0;
}


@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes incorr {
    from {
        background-position: right;
    }
    to {
        background-position: left;
        color: white;
    }
}

button.corr {
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.5);
    border: 4px;
    border-color: rgb(247, 234, 220);
    border-style: solid;
    border-radius: 10px;
    font-size: 25px;
}